@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto&display=swap');
*{ font-family: "Inter", sans-serif;margin:0 auto;padding:0;box-sizing: border-box;}

/* Navigation Menu */
.nav-menu{list-style-type:none; 
  display:flex;
  margin:10px auto;
  padding:10px 20px;
  max-width: 1300px;
  justify-content: space-between;
color:#f9f9f9;
height:100px;
width: 100%;align-items: center;}

.nav-menu li{margin: 20px 20px;display:flex;list-style-type: none; padding:10px 10px;}

.nav__link--anchor-primary{background-color: #415876;padding:10px 10px;border-radius: 50px;}

.nav__link--anchor-primary:hover{background-color: #1a5199;transition: background-color 0.3s ease;}

.personal_logo{display:flex; width: 150px; height: 150px; max-width: 800px;
margin:0 12px;border-radius: 30%;align-items:right;
padding:0; font-size: 24px;}
a{cursor:pointer; 
  text-decoration:none; 
  color:#f9f9f9; 
  font-size:20px;}

h1{font-size: 36px;text-align: center;color:#f9f9f9; line-height:1.25; font-family: "Inter", sans-serif;} 
h2, h3, h4,h5,h6{text-align: center;
line-height:1.25;font-size: 24px; color:#f9f9f9; font-family: "Inter", sans-serif}
body{ font-family: "Inter", sans-serif; 
  background: linear-gradient(135deg,#425875,#cfd1d3, #425875);
  text-align: center;
  padding:50px;}
.flex{display: flex;}
.flex-1{flex:1;}
.row{width:100%; max-width:800px;margin:0 auto;}
.text-darkblue{color:#425875;font-family: "Inter", sans-serif;}
p{text-align: right; font-size: 20px;
  line-height: 20px;}
.section__title{margin-bottom: 20px;}
.section{background: linear-gradient(135deg,#425875,#cfd1d3, #425875);}

/* About Me Section */
#aboutme{min-height: 100vh;display:flex;flex-direction:column;}
.emoji{ font-size:1.2em; margin-right:8px; vertical-align:middle; }
.about-me_info--container{display: flex;justify-content: center;flex-direction: column;align-items: center;max-width: 500px;margin:0 auto;text-align: center;background: linear-gradient(135deg,#425875,#cfd1d3, #425875)}
.about-me__info--title{margin-bottom: 20px;}
.about-me_info--para{color:white;text-align: center; font-size:20px;margin-bottom: 20px;}
.about-me__picture--mask{width:180px; height:180px; border-radius:50%; overflow:hidden; box-shadow:0 8px 16px rgb(32, 33, 34);margin-bottom: 28px;}
.about-me__picture{width: 100%;transform: scale(1.5);padding-top: 8px;}
.about-me__links{display: flex;justify-content: center; margin-top: 20px;}
.about-me__link{font-size:24px;color:#425875;text-decoration: none;padding:0 16px 28px;}
.about-me__info {display: flex;flex-direction: column;}
.about-me__img--container{flex:1;display: flex;align-items: center;}
.about-me__img {width: 100%;}

/*Languages Section*/
.language__img{width:100%;max-width: 100px;transition:all 300ms;}
.container{padding:50px 0;background: linear-gradient(135deg,#425875,#cfd1d3, #425875);width:100%;}
.languages{width:25%;display: flex;justify-content: center;position:relative;}
.language__img--wrapper{justify-content: center;display: flex;align-items: center; padding:25px 16px;}
.language__list{display: flex;justify-content: center;align-items: center;width:100%;flex-wrap:wrap; }
.languages:hover .language__img{filter:brightness(80%);opacity:.86;transform:scale(0.9);}
.language__name{position:absolute; font-size:20px;color:#f9f9f9; font-family: "Inter", sans-serif;bottom:0;transform:scale(0);transition:all 300mx}
.languages:hover .language__name{transform:scale(1);}

/* Projects Section */
.project__img{width:100%;transition:all 500ms ease;}
.project__wrapper{position:relative; box-shadow: 0 20px 80px rgba(0,0,0,0.45);border-radius: 20px;overflow:hidden;display: flex;}
.project__wrapper:before{z-index:2;content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:#425875;opacity:0;transition: opacity 45ms ease;}
.project:hover .project__wrapper:before{opacity:0.7;}
.project:hover .project__img{transform: scale(1.07);filter:blur(5px);}
.project__list{padding:40px;}
.project__description{position:absolute;top:50%;left:90px;max-width:550px; transform:translatey(100%);transition: transform 45ms,opacity 300ms;z-index:3;opacity:0}
.project__description--title,
.project__description--subtitle,
.project__description--para,.project__link{line-height:1.25;text-align: left;font-size:28px;color:#ffffff;margin-bottom: 12px;}
.project__description--title{font-size:40px}
.project__description--para{margin:16px 0;}
.poject__link{font-size: 20px;margin-right:16px;text-decoration: none;}
.project:hover .project__description{opacity:1;transition: opacity 300ms;transform:translatey(-50%)}
.project{margin-bottom:135px; }
.project:last-child{margin-bottom: 40px;}

/* Footer Section */
.footer__row{align-items: center;justify-content: center;display: flex;}