@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto&display=swap');
*{ font-family: "Inter", sans-serif;margin:0 auto;padding:0;box-sizing: border-box;}
@media (max-width: 768px){
  .nav-menu{height:68px;}
  .nav-menu li{margin:10px 0;}
  h1{font-size:28px;}
  .about-me_info--para{font-size:16px;}
  .languages{width:calc(100%/2)}
  .language__list{justify-content: center;}
  .about-me__info--title{font-size:28px;}
  .section__title{font-size:28px;}
  .project__description{padding-right:30px;left:30px;}
  .project__description--title{font-size:20px;}
  .project__description--subtitle,
.project__description--para,.project__link{line-height:1.25;text-align: left;font-size:16px;color:#ffffff;margin-bottom: 12px;}
}
@media (max-width: 480px){
  .nav__link:not(:last-child){display:none;}
  .about-me__picture--mask{height:90px;width:90px;}
  .project__description--para{display: none;}
  .project__description{font-size:20px;justify-content: center;align-items: center;padding: 0;left:0;width:100%}
  .project__description--links{position:absolute;justify-content: center;align-items: center;font-size:12px;}
  .about-me__info--title{line-height: 1;}
}

@media (min-width: 1200px){
  .project__description--para{font-size:18px;}
  .project__description--title{font-size:40px;}
  .project__description--subtitle{font-size: 24px;}}

html{scroll-behavior: smooth;}
/* Navigation Menu */
.nav-menu{list-style-type:none; 
  display:flex;
  margin:10px auto;
  padding:10px 20px;
  max-width: 1300px;
  justify-content: space-between;
color:#f9f9f9;
height:100px;
width: 100%;align-items: center;}

.nav-menu li{margin: 20px 20px;display:flex;list-style-type: none; padding:10px 10px;}

.nav__link--anchor-primary{background-color: #415876;padding:10px 10px;border-radius: 50px;}

.nav__link--anchor-primary:hover{background-color: #1a5199;transition: background-color 0.3s ease;}

.personal_logo{display:flex; width: 150px; height: 150px; max-width: 800px;
margin:0 12px;border-radius: 30%;align-items:right;
padding:0; font-size: 24px;}
a{cursor:pointer; 
  text-decoration:none; 
  color:#f9f9f9; 
  font-size:20px;position: relative;}
a:hover{opacity:0.7;transition:all 300ms ease-in-out;}

.link__hover-effect:after{content:"";position:absolute;width:0;height:2px;bottom:-2px;right:0;background-color:#f9f9f9;transition:all 300ms ease-in-out;}
.link__hover-effect:hover:after{width:100%;left:0}
h1{font-size: 36px;text-align: center;color:#f9f9f9; line-height:1.25; font-family: "Inter", sans-serif;} 
h2, h3, h4,h5,h6{text-align: center;
line-height:1.25;font-size: 24px; color:#f9f9f9; font-family: "Inter", sans-serif}
body{ font-family: "Inter", sans-serif; 
  background: linear-gradient(135deg,#425875,#cfd1d3, #425875);
  text-align: center;
  padding:50px;}
.flex{display: flex;}
.flex-1{flex:1;}
.row{width:100%; max-width:800px;margin:0 auto;padding:0 12px}
.text-darkblue{color:#425875;font-family: "Inter", sans-serif;}
p{text-align: right; font-size: 20px;
  line-height: 20px;}
.section__title{margin-bottom: 20px;}
.section{background: linear-gradient(135deg,#425875,#cfd1d3, #425875);}

/* About Me Section */
#aboutme{min-height: 100vh;display:flex;flex-direction:column;}
.emoji{ font-size:1.2em; margin-right:8px; vertical-align:middle; animation: animate-wave 500ms infinite ease-in-out;display: inline-block;}
.about-me_info--container{display: flex;justify-content: center;flex-direction: column;align-items: center;max-width: 500px;margin:0 auto;text-align: center;background: linear-gradient(135deg,#425875,#cfd1d3, #425875)}
.about-me__info--title{margin-bottom: 20px;animation: fade-up 650ms ease 400ms backwards;}
.about-me_info--para{color:white;text-align: center; font-size:20px;margin-bottom: 20px;animation: fade-up 650ms ease 400ms backwards}
.about-me__picture--mask{width:180px; height:180px; border-radius:50%; overflow:hidden; box-shadow:0 8px 16px rgb(32, 33, 34);margin-bottom: 28px;animation: animate-profile-picture 800ms 200ms backwards;}
.about-me__picture{width: 100%;transform: scale(1.5);padding-top: 8px;}
.about-me__links{display: flex;justify-content: center; margin-top: 20px;animation:fade-up 650ms ease 400ms backwards;}
.about-me__link{font-size:24px;color:#fff;text-decoration: none;padding:0 16px 28px;}
.about-me__info {display: flex;flex-direction: column;}
.about-me__img--container{flex:1;display: flex;align-items: center;}
.about-me__img {width: 100%; animation:fade-in 1200ms 800ms backwards}
@keyframes animate-profile-picture{
  0%{transform: scale(0);}
  80%{transform: scale(1.1);}
  100%{transform: scale(1);}
}
@keyframes fade-up{
  0%{opacity:0;transform: translatey(40px);}
  100%{opacity:1;transform: translatey(0);}
}
@keyframes fade-in{
  0%{opacity:0;}
  100%{opacity:1;}
}
@keyframes animate-wave{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(30deg);}
  100%{transform: rotate(0deg);}
}


/*Languages Section*/
.language__img{width:100%;max-width: 100px;transition:all 300ms;}
.container{padding:50px 0;background: linear-gradient(135deg,#425875,#cfd1d3, #425875);width:100%;}
.languages{width:25%;display: flex;justify-content: center;position:relative;}
.language__img--wrapper{justify-content: center;display: flex;align-items: center; padding:25px 16px;}
.language__list{display: flex;justify-content: center;align-items: center;width:100%;flex-wrap:wrap; }
.languages:hover .language__img{filter:brightness(80%);opacity:.86;transform:scale(0.9);}
.language__name{position:absolute; font-size:20px;color:#f9f9f9; font-family: "Inter", sans-serif;bottom:0;transform:scale(0);transition:all 300mx}
.languages:hover .language__name{transform:scale(1);}

/* Projects Section */
.project__img{width:100%;transition:all 500ms ease;}
.project__wrapper{position:relative; box-shadow: 0 20px 80px rgba(0,0,0,0.45);border-radius: 20px;overflow:hidden;display: flex;}
.project__wrapper:before{z-index:2;content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:#425875;opacity:0;transition: opacity 45ms ease;}
.project:hover .project__wrapper:before{opacity:0.7;}
.project:hover .project__img{transform: scale(1.07);filter:blur(5px);}
.project__list{padding:40px;}
.project__description{position:absolute;top:50%;left:90px;max-width:550px; transform:translatey(100%);transition: transform 45ms,opacity 300ms;z-index:3;opacity:0}
.project__description--title,
.project__description--subtitle,
.project__description--para,.project__link{line-height:1.25;text-align: left;color:#ffffff;margin-bottom: 12px;}
.project__description--para{margin:16px 0;}
.project__description--links{justify-content: center;align-items: center;font-size: 20px; text-decoration: none;}
.project:hover .project__description{opacity:1;transition: opacity 300ms;transform:translatey(-50%)}
.project{margin-bottom:135px; }
.project:last-child{margin-bottom: 40px;}

/* Footer Section */
.footer__row{background-color:#425875;align-items: center;justify-content: center;padding:5% 0;color:#f9f9f9}
.footer__social--links{display: flex;width:300px; padding:30px 0;}
.footer__social--link{padding: 8px 8px 0;}
.footer__logo{width:100px; height:100px; border-radius: 30%;}
.footer__copyright{text-align: center; font-size: 16px; color:#f9f9f9; padding-top:10px;}
.footer__logo--popper{position:absolute;font-weight: 700;opacity: 0;transition:all 300ms ease-in}
.footer__anchor{position: relative;margin-bottom: 32px;justify-content: center;align-items: center;}
.footer__anchor:hover .footer__logo--popper{color:#fff;transform:translatex(-30px);opacity:1;}