#header {color:rgb(17, 5, 23);text-align: center; font-family: "Times New Roman", Times, serif;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;text-decoration: underline;
  padding:0;
box-sizing: border-box;
margin:0;}
.nav-menu{list-style-type:none; 
  display:flex;
  margin:20px auto;
  padding:0px;
  justify-content: center;
background-color:black;
color:#f9f9f9;
height:30px;
max-width: 1300px;}
.nav-menu li{margin: 0 15px;display:flex;}
.logo{display:flex;align-self:flex-start;
margin:0 auto;
padding:0;}
a{pointer:hover; text-decoration:none; color:#f9f9f9; font-size:20px;}
h3{text-align: center;}
body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color: rgb(108, 156, 189);
  text-align: center;
  padding:50px;
display:flex};
p{text-align: justify; font: size 36px;;font-family: 'Times New Roman', Times, serif, sans-serif;}
.verses{display:flex;width:400px;text-align:center;}
.card{display:flex; flex-direction:column-reverse; 
  text-align: center;
  justify-content: space-evenly;
  flex-wrap:wrap;
  background-color: #f9f9f9;
  padding: 15px;
  margin: 10px;
  width: 355px;
  border: 5px  #0e406e;
  border-radius: 10px;
box-sizing:border-box;
}

